:root {
    --color-orange: #e28625;
    --color-dk-cyan: #006971;
    --color-vd-cyan: #004140;
    --color-text-white: #ffffff;
    --color-lt-gray: #f2f2f2;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 327px;

}

.card1 {
background-color: var(--color-orange);
width: 327px;
height: 442px;
}

.card2 {
background-color: var(--color-dk-cyan);
width: 327px;
height: 442px;
}

.card3 {
background-color: var(--color-vd-cyan);
width: 327px;
height: 442px
}